

/*footer{
	position:flex;
	border: solid;
	width: 100%;
	height: auto;
	margin-bottom: 0px;
}*/

#main{
	display:flex;
	border: solid;
	width: 70%;
	height:auto;
	margin-left:25%;
	margin-top: 0px;
	justify-content: space-around;
	/*flex-flow: row wrap;*/
	box-sizing: border-box;
	flex-wrap: wrap;
	

	
}


html, body {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  border: solid yellow ;
 
  background-image: url("https://hdwallpapers.imgix.net/wallpaper-44961567349687qvhvd3vdpa.jpg?auto=compress&cs=tinysrgb&dpr=1");
  
  background-size: 100%;
}



footer {
  position: fixed;
  display: flex;
  align-items: center;
  height: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid ;
  z-index: 1 ;
  background-color: blue;


}
header{
	position: fixed;
	border:solid red;
	width: 100%;
	height: 60px;
	top:0px;
	
	
}


#navbar {
  left : 0;
  border: solid blue;
  height: 540px;
  width: 20%;
  top:65px;
  position: fixed;
  padding-top: 20px;
  
  /*justify-content: inline-block;*/
  }

  #body{
  	background-color: yellow;
  	
  	height: auto;
  	margin-top:68px;
  	margin-bottom: 0px
  }

  #closenav{
  	margin-left: 160px;
  	height: 20px;
  	background-color: red;
  	color: blue;
  	opacity: 1;
  	z-index: 1;
  	position: flex;
  	float: right;
  }

  #opennav{
  	position:fixed;
  	border: solid;
  	width: 20%;
  	margin-bottom: 20px;
  }

  #navbar ul{
  	
  	display: block;
  	list-style-type:none;
  	width: 200px;
  	border: solid orange;
  	
  }

 

  .sidebuttons {
  display: block;
  width: 100%;
  border: solid 1px;
  background-color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-left: 0px;
}

#imageid{
	width: 150px;
	height: 150px;
}